.popup__button_close_form-grow {
  margin: 155px 0 8px auto;
  transform: translate(40px, 0);
}

@media (max-width: 800px) {
  .popup__button_close_form-grow {
    transform: translate(0);
  }
}

@media (max-width: 767px) {
  .popup__button_close_form-grow {
    margin: 87px 0 16px;
  }
}