.popup__button_close {
  width: 32px;
  height: 32px;
  background-image: url("../../../../images/close-icon.svg");
  background-position: 50% 50%;
  background-size: 100%;
  margin: 155px 0 8px;
  z-index: 1;
  order: 1;
  transform: translate(239px, 0px);
}

@media (max-width: 910px) {
  .popup__button_close {
    width: 20px;
    height: 20px;
    transform: translate(131px, 0px);
  }
}

@media (max-width: 767px) {
  .popup__button_close {
    margin: 87px 0 16px;
  }
}