.popup__form {
  width: 430px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 111px 36px 37px;
  box-sizing: border-box;
  position: relative;
  color: #000;
  order: 2;
}

@media (max-width: 800px) {
  .popup__form {
    width: 282px;
    padding: 122px 22px 25px;
  }
}