.popup__form {
  width: 430px;
  height: 330px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
  color: #000;
  order: 2;
}

@media (max-width: 800px) {
  .popup__form {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}