.elements {
  max-width: calc(100% - 2*200px);
  margin: 0 200px 52px;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 20px 17px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .elements {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    margin: 0 auto 48px;
    padding: 19px;
  }  
}