.element__button_like {
  width: 22px;
  height: 19px;
  background-image: url("../../../../images/Like-disabled.svg");
  background-size: 22px;
  background-position: 50% 50%;
  margin: 5px 5px 1px auto;
}

.element__button_like:active .element__button_like:active {
  background-image: url("../../../../images/Like-active.svg");
}

.element__button_like:focus {
  background-image: url("../../../../images/Like-active.svg");
}