.popup__title {
  width: 330px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 1;
  order: 3;
  color: #000;
  box-sizing: border-box;
  transform: translate(-14px, -295px);
}

@media (max-width: 800px) {
  .popup__title {
    width: 238px;
    font-size: 18px;
    line-height: 1.22;
    margin: 0 0 75px;
    transform: translate(0, -297px);
  }
}